:root{
--slate-25: #CBD2D9;
--slate-50: #9AA5B1;
--slate-75: #3E4C59;
--slate: #303841;
--lightBlue: #67c2c7;
--blue: #00ADB5;
/* --info: #0DCAF0; */
--lightGray: #EEEEEE;
--lightOrange: #e6967d;
--orange: #FF5722;
--olive: #8B9A46;
--yellowGreen: #bdd310;
--chatGreen: #3F9142;
--black:#212529;
}

body, html {
  background-color: var(--slate);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  font-family: 'IM Fell English SC', serif;
  background-color: var(--slate);
  padding: 1%;
}

.mtg {
  color: var(--orange);
  padding-left: 2%;
}

.navOp:hover{
  box-shadow: 0 4px 2px -2px var(--lightGray);
}

.backDrop{
  margin: 5%;
  color: var(--blue);
  background-color: var(--black);
  padding: 2%;
}

h3 {
  padding-top:1% ;
  padding-bottom: 2%;
}
.tradeProp{
  margin-left: 25%;
}

.tradeHistory{
  margin-left: 5%;
}

.tradeProfile{
  margin-top: 5%;
  margin-bottom: 5%;
}

.logout{
  margin-left: 5%;
  cursor: pointer;
}

.search{
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;

}
.collectionSearch{
  margin-bottom: 5%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
.tradeSearch{
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2%;
}

.post{
  margin-bottom: 5%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}


.postTrade{
  padding-top: 3%;
  padding-left: 30%;
  padding-right: 30%;
}

/* Tradeblock Posts */

section.trade-block {
  position: relative;
}

div.trade-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--slate-25);
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

div.trade-post:nth-child(even) {
  background: var(--lightGray);
}

div.trade-post > * {
  padding: 0 0.5rem;
}

div.trade-post h5 {
  width: 105px;
  max-width: 105px;
  min-width: 105px;
  font-size: 0.875rem;
  font-weight: 600;
  position: relative;
}

div.trade-post h5:hover::after {
  content: "click to copy "attr(data-email)"";
  position: absolute;
  top: 25%;
  z-index: 99;
  background: var(--slate-75);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--lightOrange);
}

div.trade-post p {
  min-width: 200px;
  width: 100%;
  box-shadow: -1px 0px 0px 0px, 1px 0px 0px 0px;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

div.trade-post small {
  width: 125px;
  max-width: 125px;
  color: var(--slate-75);
  font-size: 0.75rem;
  font-weight: 600;
}

h4.copy-alert {
  position: absolute;
  top: -15%;
  left: 5%;
  color: var(--lightBlue);
}

h4.updated-collection-alert {
  position: fixed;
  background: var(--lightGray);
  padding: 0.5rem 1rem;
  color: var(--black);
  left: 40%;
  z-index: 99;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 15px 5px var(--slate);
}

/* ==== Autocomplete Box ==== */

div.autocomplete-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
}

div.autocomplete-box p {
  background: var(--black);
  margin: 0;
  cursor: pointer;
  padding: 0.125rem 1rem;
  transition: 0.3s;
  border-radius: 0.25rem;
}

div.autocomplete-box p:hover {
  background: var(--slate);
}

/* ==== Login/Sign-up Forms ==== */

form.login-form,
form.signup-form {
  background: var(--lightGray);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 22rem;
  margin: auto;
  margin-top: 1rem;
}

.login-form{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.formRow{
  padding: 5%;
}

.bar{
  /* background-color: var(--olive); */
  margin-left: 2%;
  margin-right: 2%;
  /* box-shadow: inset 0px 0px 8px var(--olive), 0 0 15px var(--olive); */
}

.greenBar{
  background-color: var(--olive);
  box-shadow: inset 0px 0px 8px var(--olive), 0 0 15px var(--olive);
}

.blueBar{
  background-color: var(--blue);
  box-shadow: inset 0px 0px 8px var(--blue), 0 0 15px var(--blue);
}

.orangeBar{
  background-color: var(--orange);
  box-shadow: inset 0px 0px 8px var(--orange), 0 0 15px var(--orange);
}

.me-2{
  margin-left: 5%;
}

.valRow{
  padding-top:5%;
  padding-left:15%;
  padding-right:15%;
  padding-bottom:5%;
}

h4{
  color: var(--lightGray);
}

.backDropTv{
  margin: 5%;
  background-color: var(--black);
  padding-top: 2%;
}


.cardImg{
  border-radius: 5%;
}

.giveH2{
  color: var(--orange);
}

.receiveH2{
  color: var(--blue);
}

.tradeBox{
  background-color: var(--black);
  padding: 2%;
}

.backDropTradeSearch{
  margin: 5%;
  background-color: var(--black);
  padding: 3%;
}

.searchBox{
  background-color: var(--black);
  padding: 2%;
  margin-bottom: 3%;
}

.card-price{
  color: var(--lightGray);
  font-size: 1.5rem;
}

.cards-total{
  color: var(--lightGray);
  font-size: 2.4rem;
  position: sticky;
}
