:root{
--slate: #303841;
--blue: #00ADB5;
/* --info: #0DCAF0; */
--lightGray: #EEEEEE;
--orange: #FF5722;
--olive: #8B9A46;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  font-family: 'IM Fell English SC', serif;
  background-color: var(--slate);
  padding: 1%;
}

.mtg {
  color: var(--orange);
  padding-left: 2%;
  padding-right: 2%;
}
