:root{
--slate-25: #CBD2D9;
--slate-50: #9AA5B1;
--slate-75: #3E4C59;
--slate: #303841;
--lightBlue: #67c2c7;
--blue: #00ADB5;
/* --info: #0DCAF0; */
--lightGray: #EEEEEE;
--lightOrange: #e6967d;
--orange: #FF5722;
--olive: #8B9A46;
--yellowGreen: #bdd310;
--chatGreen: #3F9142;
--black:#212529;
}

body, html {
  background-color: var(--slate);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  font-family: 'IM Fell English SC', serif;
  background-color: var(--slate);
  padding: 1%;
}

.mtg {
  color: var(--orange);
  padding-left: 2%;
}

.navOp:hover{
  box-shadow: 0 4px 2px -2px var(--lightGray);
}

.backDrop{
  margin: 5%;
  color: var(--blue);
  background-color: var(--black);
  padding: 2%;
}

h3 {
  padding-top:1% ;
  padding-bottom: 2%;
}
.tradeProp{
  margin-left: 25%;
}

.tradeHistory{
  margin-left: 5%;
}

.tradeProfile{
  margin-top: 5%;
  margin-bottom: 5%;
}

.logout{
  margin-left: 5%;
  cursor: pointer;
}

.search{
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.post{
  margin-bottom: 5%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}


.postTrade{
  padding-top: 3%;
  padding-left: 30%;
  padding-right: 30%;
}

div.trade-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--slate-50);
  color: var(--black);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.trade-post:nth-child(even) {
  background: var(--slate-25);
}

div.trade-post h5 {
  width: 75px;
  font-size: 0.875rem;
  word-break: break-all;
}

div.trade-post p {
  flex-basis: 75%;
  box-shadow: -1px 0px 0px 0px, 1px 0px 0px 0px;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

div.trade-post small {
  width: 75px;
  font-size: 0.625rem;
  padding: 0 0.25rem;
  flex-basis: 8%;
}

/* ==== Login/Sign-up Forms ==== */

form.login-form,
form.signup-form {
  background: var(--lightGray);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 22rem;
  margin: auto;
  margin-top: 1rem;
}

.login-form{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.formRow{
  padding: 5%;
}

.bar{
  background-color: var(--olive);
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: inset 0px 0px 8px var(--olive), 0 0 15px var(--olive);
}

.me-2{
  margin-left: 5%;
}

.valRow{
  padding-top:5%;
  padding-left:15%;
  padding-right:15%;
  padding-bottom:5%;
}
h4{
  color: var(--lightGray);
}

.backDropTv{
  margin: 5%;
  background-color: var(--black);
  padding-top: 2%;
}


.cardImg{
  border-radius: 5%;
}

.giveH2{
  color: var(--orange);
}

.receiveH2{
  color: var(--blue);
}

.tradeBox{
  background-color: var(--black);
  padding: 2%;
}

.backDropTradeSearch{
  margin: 5%;
  background-color: var(--black);
  padding-top: 3%;
}

.searchBox{
  background-color: var(--black);
  padding: 2%;
  margin-bottom: 3%;
}