* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== Message Interface ==== */

section.message-interface {
  background: var(--black);
  width: clamp(280px, 30%, 420px);
  min-height: 300px;
  max-height: 500px;
  height: fit-content;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  color: var(--lightGray);
  box-shadow: inset 5px 5px 8px -1px var(--olive);
  overflow: scroll;
  overflow-x: hidden;
}

section.message-interface::-webkit-scrollbar {
  width: 0.375rem;
}

section.message-interface::-webkit-scrollbar-thumb {
  background: var(--slate-75);
  border-radius: 1rem;

}
section.message-interface::-webkit-scrollbar-track {
  border-radius: 1rem;
}

div.message-interface-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem 0;
  background: transparent;
  gap: 3rem;
}

div.message-interface-header p.unread {
  color: var(--yellowGreen);
  font-size: 0.75rem;
}

.back-to-inbox,
.minimize-chat,
.chat-icon {
  cursor: pointer;
  animation-duration: 3s;
  transition: 0.3s;
}

.back-to-inbox:hover,
.minimize-chat:hover,
.chat-icon:hover {
  filter: brightness(1.5);
}


/* ==== Form Input ==== */

form.form-input {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

form.form-input input[type=text] {
  width: 100%;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  font-weight: 500;
}


form.form-input input[type=text]:focus {
  outline: none;
}

form.form-input button {
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: var(--orange);
  font-weight: 600;
  padding: 0.5rem;
  padding-left: 0.75rem;
}

form.form-input button:hover {
  filter: brightness(0.9);
}

/* ==== Chat Interface ==== */

div.chat-button {
  position: fixed;
  bottom: 4%;
  right: 2%;
  padding: 0.5rem;
  border: none;
  background: transparent;
}

section.chat-interface {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section.chat-interface div.chat-interface-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem 0;
}
section.chat-interface div.chat-interface-header > * {
  margin: 0;
}

section.chat-interface div.chat-interface-header small {
  color: var(--slate-25);
}

section.chat-messages {
  background: var(--slate-25);
  color: var(--black);
  padding: 0.25rem;
  min-height: 8rem;
  max-height: 12rem;
  border-radius: 0.25rem;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section.chat-messages::-webkit-scrollbar {
  width: 0.25rem;
}

section.chat-messages::-webkit-scrollbar-thumb {
  background: var(--slate-50);
  border-radius: 1rem;

}
section.chat-messages::-webkit-scrollbar-track {
  border-radius: 1rem;
}

section.chat-messages div {
  display: flex;
  flex-direction: column;
  position: relative;
}

section.chat-messages div:hover::after{
  content: attr(data-createdAt);
  position: absolute;
  background: var(--slate-25);
  padding: 0.25rem;
  border-radius: 0.25rem;
  top: 100%;
  z-index: 99;
  font-size: 0.625rem;
  font-weight: 600;
}

section.chat-messages p {
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  max-width: 75%;
  min-width: 80px;
  box-shadow: inset -2px -2px 5px -1px var(--slate-75), inset 2px 2px 5px -1px var(--slate-25);
  font-weight: 600;
}


div.chat-them p {
  background: var(--olive);
}
div.chat-them {
  align-self: flex-start;
}

div.chat-me p {
  background: var(--blue);
  align-self: flex-end;
  
}
div.chat-me {
  align-self: flex-end;
  text-align: right;
}

section.chat-messages div small{
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

/* Chat Alert and Loading Ring */

h4.chat-alert {
  position: fixed;
  right: 2%;
  bottom: 24%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  width: 28%;
  font-size: 1.2rem;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--chatGreen);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--chatGreen) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ==== Inbox Interface ==== */

section.inbox-interface {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div.message-info-container {
  box-shadow: inset 0 12px 15px -15px var(--lightGray),inset 0 -15px 15px -15px var(--lightGray);
}

section.inbox-interface div {
  cursor: pointer;
  color: var(--slate-50);
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: 0.5s;
  margin: 0;
}

section.inbox-interface div:hover {
  background: var(--slate-75);
  color: var(--blue);
}

section.inbox-interface div.inbox-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  margin-top: -35px;
  text-align: right;
}

div.inbox-info span:nth-child(2) {
  color: var(--lightBlue);
}

section.inbox-interface div p {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: var(--lightGray);
}

section.inbox-interface div p span:nth-child(1) {
  max-height: 4rem;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.inbox-interface div p span:nth-child(2) {
  font-size: 0.75rem;
  color: var(--lightOrange);
}

